body, html {
  min-height: 100%;
}

body {
  background-color: darkred;
  background-image: linear-gradient(black, indigo, cyan, goldenrod, darkred);
  text-align: center;
  font-family: courier;
}

#pricescreen, #pizzaoptions, #saladoptions {
  display: none;
}

h1 {
  color: goldenrod;
  margin-top: 30px;
}

h4 {
  color: rgb(194, 185, 163);
}

.box {
  background-color: rgba(255, 255, 255, .5);
  margin: 50px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 20px;
}

button {
  border: 3px solid black;
  border-radius: 15px;
  background-image: radial-gradient(ivory, red);
  margin: 25px;
  font-size: 140%;
}

button:hover {
  cursor: pointer;
  opacity: .6;
}

.please {
  display: none;
  color: red;
  font-style: italic;
}

select {
  margin-bottom: 95px;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgb(202, 199, 199);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgb(238, 64, 151);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

input[type='checkbox']:after {
  width: 15px;
  height: 15px;
  position: relative;
  background-color: rgb(182, 178, 178);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='checkbox']:checked:after {
  width: 15px;
  height: 15px;
  position: relative;
  background-color: rgb(238, 64, 151);
  content: '^';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}